body, input{
    font-family: 'Roboto', 'Arial';
    letter-spacing: 1px;
}

.content-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 4px;
}

.newTaskNameInput {
    width: 100%;
    background-color: #F9F9F9;
    border: 2px solid #000;
    border-radius: 4px;
    height: 30px;
    margin-bottom: 10px;
    padding: 4px;
}

.newTaskDescriptionInput {
    width: 100%;
    background-color: #F9F9F9;
    border: 2px solid #000;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 4px;
}

.task-container {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
}

.task-name {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    background-color:rgb(126, 206, 255);
    border: 2px solid rgb(126, 206, 255);
    border-radius: 4px;
    box-sizing: border-box;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.task-description {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    border: 2px solid rgb(126, 206, 255);
    border-radius: 4px;
    box-sizing: border-box;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-overflow: wrap;
    overflow: hidden;
}

.incomplete-tasks .task-name {
    background-color: rgb(126, 206, 255);
    border: 2px solid rgb(126, 206, 255);
}

.incomplete-tasks .task-description {
    border: 2px solid rgb(126, 206, 255);
}

.complete-tasks .task-name {
    background-color: rgb(79, 135, 255);
    border: 2px solid rgb(79, 135, 255);
}

.complete-tasks .task-description {
    border: 2px solid rgb(79, 135, 255);
} 

.newCommentInput {
    width: 79%;
    background-color: #F9F9F9;
    border: 2px solid rgb(65, 65, 65);
    border-radius: 4px;
    height: 30px;
    margin-bottom: 10px;
    padding: 4px;
}


/* *************** Non-Bulma styling ************** */


.content-container {
    max-width: 400px;
    margin-top: 100px;
    padding: 20px;
    border: 2px solid #363636;
    border-radius: 4px;
}

/* .newTaskNameInput {
    background-color: #F9F9F9;
    border: 2px solid #363636;
    border-radius: 4px;
    height: 30px;
    margin-bottom: 10px;
    padding: 4px;
}

.newTaskDescriptionInput {
    background-color: #F9F9F9;
    border: 2px solid #363636;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 4px;
}

.task-name {
    justify-content: space-between;
    align-content: flex-start;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.task-button {
    border: 2px solid #363636;
    border-radius: 4px;
}

.incomplete-tasks .task-name {
    background-color: rgb(126, 206, 255);
    border: 2px solid rgb(126, 206, 255);
}

.incomplete-tasks .task-description {
    border: 2px solid rgb(126, 206, 255);
}

.complete-tasks .task-name {
    background-color: rgb(79, 135, 255);
    border: 2px solid rgb(79, 135, 255);
}

.complete-tasks .task-description {
    border: 2px solid rgb(79, 135, 255);
}  */
