body, input{
    font-family: 'Roboto', 'Arial';
    letter-spacing: 1px;
}

.content-container {
    max-width: 300px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 4px;
}